/OntologyMapping/nbproject/private/
OntologyMapping/nbproject/build-impl.xml

*.xml

OntologyMapping/nbproject/build-impl.xml

OntologyMapping/nbproject/genfiles.properties

OntologyMapping/nbproject/project.properties
